(To be replace by the industry)

In [7]:
# Import all libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [8]:
#Assign them to a variable for easy access if neccesary
strategy_data = 'C:/Users/valde/Desktop/Interview Projects/Jordan_Craig/jordan_craig/Datasets/Assessment_Strategy_Analyst.csv'

In [9]:
#Read the libraries
strategy_data = pd.read_csv(strategy_data)

In [10]:
print(strategy_data.sample(5))

      Customer ID        Date Customer Type Product Rev Shipping Rev  \
3277         1238   9/18/2022     Returning      $64.71        $9.99
7825         7843   8/23/2023           New      $94.12        $9.99
4529          701  12/21/2022     Returning     $103.92        $0.00
5776         4461   1/29/2023           New      $72.55        $9.99
2506         1623   6/23/2022     Returning     $170.59        $0.00

     Total Rev  Items Product Disc. Saving Type Product Cost Shipping Cost  \
3277    $74.70      3         0.00%         NaN       $12.94         $9.99
7825   $104.11      3        15.00%      Coupon       $22.15         $9.99
4529   $103.92      1         0.00%         NaN       $20.78         $9.99
5776    $82.54      1        15.00%      Coupon       $17.07         $9.99
2506   $170.59      3         6.67%      Bundle       $36.56         $9.99

          CAC
3277    $0.00
7825  $117.00
4529    $0.00
5776   $72.00
2506    $0.00

### The following will clean the data "Strategy Data"

In [11]:
#Print the information for the dataset
strategy_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Customer ID    9999 non-null   int64
 1   Date           9999 non-null   object
 2   Customer Type  9999 non-null   object
 3   Product Rev    9999 non-null   object
 4   Shipping Rev   9999 non-null   object
 5   Total Rev      9999 non-null   object
 6   Items          9999 non-null   int64
 7   Product Disc.  9999 non-null   object
 8   Saving Type    6287 non-null   object
 9   Product Cost   9999 non-null   object
 10  Shipping Cost  9999 non-null   object
 11  CAC            9999 non-null   object
dtypes: int64(2), object(10)
memory usage: 937.5+ KB

In [13]:
#Check for missing values in case of NA
strategy_data.isnull().sum()

Customer ID         0
Date                0
Customer Type       0
Product Rev         0
Shipping Rev        0
Total Rev           0
Items               0
Product Disc.       0
Saving Type      3712
Product Cost        0
Shipping Cost       0
CAC                 0
dtype: int64

In [15]:
#Remove all the null spaces and replace with zeros
strategy_data = strategy_data.fillna(0)

In [16]:
#check again to see if null spaces were removed
strategy_data.isnull().sum()

Customer ID      0
Date             0
Customer Type    0
Product Rev      0
Shipping Rev     0
Total Rev        0
Items            0
Product Disc.    0
Saving Type      0
Product Cost     0
Shipping Cost    0
CAC              0
dtype: int64